/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Open+Sans:wght@400;700&display=swap');

/* font-family: 'IBM Plex Mono', monospace; 
font-family: 'Open Sans', sans-serif;*/

:root {
    --dark: #191B22;
    --medium: #282C37;
    --light: #606984;
    --font-color: #B5B7BA;
    --border-radius: 4px;
    --spacer: 6px;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    background: var(--dark);
    font-size: 0.875rem;
    color: var(--font-color);
}

/* Nav Bar */
nav {
    background: var(--medium);
    /* border-bottom: 1px solid var(--medium); */
    color: var(--font-color);
    font-size: 1.5rem;
    padding: 16px;
}

/* Panels */
.panel_left,
.panel_right {
    padding: 15px;
}
.panel_left {
    border-right: 1px solid var(--medium);
}
.panel_right {
    border-left: 1px solid var(--medium);
}

.box_wrapper {
    background: var(--medium);
    border-radius: var(--border-radius);
    border: 1px solid var(--light);
    color: var(--font-color);
    padding: 6px;
    margin-bottom: var(--spacer);
}
.box_wrapper .box_title {
    font-size: 1rem;
    font-weight: bold;
}
.box_wrapper table {
    margin: 0;
    width: 100%;
}

/* Text */
.number {
    font-family: 'IBM Plex Mono', monospace;
}
.warning_text {
    color: orangered;
    font-size: 0.875rem;
}

select * {
    background-color: var(--medium);
    color: var(--font-color);
}
select {
    display: block;
    width: 100%;
    margin-bottom: var(--spacer);
    padding: 8px;
    background: var(--medium);
    color: var(--font-color);
    border: 1px solid var(--light);
    border-radius: var(--border-radius);
    cursor: pointer;
}